<h1>All Tasks</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
<ol>
  <%@tasks.each do |task|%>
    <li><%= task.description%>
      <%= link_to "mostrar", task%>
      <%= link_to "borrar", task, :method => :delete, :confirm => "Estas seguro?!" %>
    </li>
  <%end%>
</ol>
